@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.7224 0.1199 184.5127);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.7224 0.1199 184.5127);
  --chart-1: oklch(0.7224 0.1199 184.5127);
  --chart-2: oklch(0.5859 0.2221 17.5549);
  --chart-3: oklch(0.7231 0.1524 54.6745);
  --chart-4: oklch(0.6232 0.1879 259.7964);
  --chart-5: oklch(0.6057 0.1157 235.7234);
  --sidebar: oklch(0.9619 0 0);
  --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary: oklch(0.7224 0.1199 184.5127);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.9290 0.0126 255.5317);
  --sidebar-ring: oklch(0.7224 0.1199 184.5127);
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(220 3% 15%);
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.05);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.05);
  --shadow-sm: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.10), 0rem 1px 2px -1px hsl(220 3% 15% / 0.10);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.10), 0rem 1px 2px -1px hsl(220 3% 15% / 0.10);
  --shadow-md: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.10), 0rem 2px 4px -1px hsl(220 3% 15% / 0.10);
  --shadow-lg: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.10), 0rem 4px 6px -1px hsl(220 3% 15% / 0.10);
  --shadow-xl: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.10), 0rem 8px 10px -1px hsl(220 3% 15% / 0.10);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2079 0.0399 265.7275);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.2079 0.0399 265.7275);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.2079 0.0399 265.7275);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.7224 0.1199 184.5127);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7097 0.0355 256.7889);
  --accent: oklch(0.2800 0.0369 259.9740);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.7224 0.1199 184.5127);
  --chart-1: oklch(0.7224 0.1199 184.5127);
  --chart-2: oklch(0.5859 0.2221 17.5549);
  --chart-3: oklch(0.7231 0.1524 54.6745);
  --chart-4: oklch(0.6232 0.1879 259.7964);
  --chart-5: oklch(0.6057 0.1157 235.7234);
  --sidebar: oklch(0.3188 0.0039 264.5101);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.7224 0.1199 184.5127);
  --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-accent: oklch(0.2800 0.0369 259.9740);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.2800 0.0369 259.9740);
  --sidebar-ring: oklch(0.7224 0.1199 184.5127);
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(220 3% 15%);
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.15);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.15);
  --shadow-sm: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.30), 0rem 1px 2px -1px hsl(220 3% 15% / 0.30);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.30), 0rem 1px 2px -1px hsl(220 3% 15% / 0.30);
  --shadow-md: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.30), 0rem 2px 4px -1px hsl(220 3% 15% / 0.30);
  --shadow-lg: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.30), 0rem 4px 6px -1px hsl(220 3% 15% / 0.30);
  --shadow-xl: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.30), 0rem 8px 10px -1px hsl(220 3% 15% / 0.30);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(220 3% 15% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}